<% include header %>
<div class="container">
    <h2>Armas</h2>
    <p>Glosario de armas </p>            
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Arma</th>
          <th>Foto</th>
          <th>Descripcion</th>
          <th>Efectiva contra</th>
        </tr>
      </thead>
      <tbody>
        <tr>
                <td>Armas de fuego </td>
                <td><img src="/recursos/armasfuego.jpg" class="img-rounded" width="250px" height="240px"></td>
                <td>Implica el uso de pistolas,rifles,escopetas u otra arma que use municion. desventaja la municion es limitada</td>
                <td>contra cualquier tipo de zombie</td>
        </tr>
        <tr>
          <td>Armas de flechas </td>
          <td><img src="/recursos/flechas.jpg" class="img-rounded" width="250px" height="240px"></td>
          <td>En esta categoria entran los arcos y ballestas, son muy lentas y no hacen mucho daño. desventaja la municion es limitada</td>
          <td>contra cualquier tipo de zombie, exepto zombie perro</td>
        </tr>
        <tr>
          <td>Armas blanca larga </td>
          <td><img src="/recursos/larga.png" class="img-rounded" width="250px" height="240px"></td>
          <td>Implica armas como katanas, hachas, espadas.Desventaja probalidad del 50% de ser mordido por algun tipo de zombie</td>
          <td>contra cualquier tipo de zombie, exepto radioactivos,zombie baby </td>
        </tr>
        <tr>
          <td>Armas blanca corta</td>
          <td><img src="/recursos/cortas.jpg" class="img-rounded" width="250px" height="240px"></td>
          <td>Implica armas como cuchillos,navajas,dagas.Desventaja pobabilidad del 75% de ser mordido por algun tipo de zombie </td>
          <td>contra cualquier tipo de zombie, exepto radioactivos,zombie baby,zombie perro</td>
        </tr>
        <tr>
          <td>Cuerpo a cuerpo</td>
          <td><img src="/recursos/hiit.jpg" class="img-rounded" width="250px" height="240px"></td>
          <td>Implica el uso de tus puños.No es recomendable ya que hay una probabilidad del 99% de ser mordido por algun tipo de zombie

          </td>
          <td>Contra ninguno, no recomendable a menos que sea un caso extremo</td>
        </tr>

      </tbody>
    </table>
  </div>
<% include footer %>