<% include header %>
<div class="container">
    <h3>Clases de Zombies</h3>
                
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>fotografia </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Zombie Fresco</td>
          <td><img src="/recursos/zombiefresco.jpg" class="img-rounded"  width="250px" height="240px"></td>
        </tr>
        <tr>
            <td>Zombie niños</td>
            <td><img src="/recursos/niñoszombie.jpg" class="img-rounded" width="250px" height="240px"></td>
        </tr>
        <tr>
            <td>Zombie saco de huesos</td>
            <td><img src="/recursos/sacodehuesos.jpg" class="img-rounded"  width="250px" height="240px"></td>
        </tr>
        <tr>
            <td>Zombie radioactivo</td>
            <td><img src="/recursos/zombieradioactivo.jpg" class="img-rounded" width="250px" height="240px"></td>
        </tr>
        <tr>
            <td>Zombie reptador</td>
            <td><img src="/recursos/zombiereptador.jpg" class="img-rounded" alt="Cinque Terre" width="240px" height="250px"></td>
        </tr>
        <tr>
            <td>Zombie podridos</td>
            <td><img src="/recursos/zombiespodridos.jpg" class="img-rounded" alt="Cinque Terre" width="240px" height="250px"></td>
        </tr>
        <tr>
                <td>Zombie perro</td>
                <td><img src="/recursos/dogzombie.jpg" class="img-rounded" alt="Cinque Terre" width="240px" height="250px"></td>
            </tr>
            <tr>
                    <td>Zombie baby</td>
                    <td><img src="/recursos/bebeszombie.jpg" class="img-rounded" alt="Cinque Terre" width="240px" height="250px"></td>
                </tr>
      </tbody>
    </table>
  </div>
  
<% include footer %>