<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Zombie Wiki</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body class="container" >
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/index">Zombies wiki
            </a>
          </div>
          <ul class="nav navbar-nav">
            <li ><a href="/index">Home</a></li>
            <li><a href="/clases">Clases</a></li>
            <li><a href="/armas">Armas</a></li>
            <li><a href="/victimas">Victimas</a></li>
          </ul>
        </div>
      </nav>
