<% include header %>

    <div class="panel panel-default">
        
              <h1>Zombie wiki</h1>
              <img src="/recursos/home.jpg" class="img-thumbnail" alt="Blood of the dead">
    </div>
    <% include footer %>